*~
bin
parts
coverage
eggs
sources
.installed.cfg
.mr.developer.cfg
develop-eggs
var/*
*.egg-info
*.pyc
*.pt.py
*.pt.pyc
.DS_Store
source
src/colander
src/memphis.app
src/memphis.config
src/memphis.form
src/memphis.view

